:root {
    /*background: radial-gradient(ellipse, #0000ff, #ffa500);*/
    font-family: sans-serif;
    background-color: #c2c2c2;
}

body {
    /*width: 95%;*/
    margin: auto;
    /*padding-top: .4em;*/
}

header {
    border: .2em solid #ffa500;
    width: fill;
    margin: auto;
    text-align: center;
    margin-bottom: 2em;
    color: #ffa500;
    background-color: #003366;
}

main {
    clear: left;
}


/*Start of Navigation section*/
#navigation {
    margin: 0em 1.0em 0em 0em;
    font-family: sans-serif;
}

#navigation ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: .8em;
}

#navigation ul li {
    flex-basis: 33%;
}

#navigation ul li a {
    display: block;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #003366;
    color: #ffa500;
    margin: .5%;
    border: .15em white solid;
}

#navigation ul li a:hover {
    background-color: #ffa500;
    color: #003366;
}

/*End of navigation section*/


/*Title format for every page*/
.title {
    border: .2em solid #ffa500;
    text-align: center;
    width: 30%;
    min-width: 9em;
    margin: 2em auto;
    /*margin-bottom: .5em;*/
    color: #ffffff;
    background-color: #003366;
}

/* Start of index.html section*/
img {
    border: .2em solid #ffa500;
    max-width: 70%;
    display: block;
    margin: auto;
}

#imgBox img {
    width: 100%;
    max-width: 45%;
}

section h2 {
    margin-top: 2%;
}

#infoBox {
    margin: 5% 0 0 12%;
    border: .3em double #ffa500;
    background-color: #003366;
    color: #ffffff;
    padding: 0% 2% 2% 2%;
    width: 70%;
}

#infoBox a {
    border: .1em solid #ffa500;
    padding: .8%;
    color: #000000;
    background-color: #ffffff;
    margin: 1.3% 50% 0% 0%;
}

#infoBox ul {
    color: #ffa500;
}

.flexInfo {
    display: flex;
    flex-direction: row;
    padding: .5em;
}

.infoParts {
    padding: .5em;
}
/* End of index.html section*/

/*Start of schedule.html*/
.standardInfo{
    margin: 2.5% 0 2.5% 12%;
    border: .3em double #ffa500;
    background-color: #003366;
    color: #ffffff;
    padding: 0% 2% 2% 2%;
    width: 70%;
}
caption{
    color: #ffffff;
}
table {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid #003366;
    border-collapse: collapse;
    margin-bottom: 1em;
    text-align: center;
  }
  td, th {
    padding: 5px 5px;
    border: 2.5px solid #003366;
  }
  tr:nth-of-type(even) {
    background-color: #ffa500;
  }
  tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  caption {
    margin: 1em;
    font-weight: bold;
    font-size: 120%;
  }
  tr:hover {
    background-color: #003366;
    color: #fff;
  }
  th {
    background-color: #003366;
    color: #fff;
  
  }
/*End of schedule.html*/

/*Start of teamshop.html*/
#textBox {
    margin: auto;
    margin-top: 2.5%;
    width: 75%;
    background-color: #003366;
    color: #ffffff;
    border: .3em double #ffa500;
    padding: .25em 1em .25em 1em;
}

#box1 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box1;
}

#box2 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box2;
}

#box3 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box3;
}

#box4 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box4;
}

#box5 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box5;
}

#box6 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box6;
}

#box7 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box7;
}

#box8 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box8;
}

#box9 {
    border: .1em solid #000000;
    background-color: #ffffff;
    padding: 1em;
    grid-area: box9;
}

.contain {
    display: grid;
    max-width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: .5em;
    column-gap: .5em;
    grid-template-areas:
        "box1 box2 box3"
        "box4 box5 box6"
        "box7 box8 box9";
}

/*End of teamshop.html*/

/*Start of aboutus.html section*/
.newsBox {
    border: .2em solid #000000;
    background-color: #ffffff;
    padding: 2%;
    margin: 2% 10%;
}

article {
    column-count: 3;
    column-gap: 35px;
    column-rule: 2px solid #000000;
}

.newsBox h1 {
    font-size: 170%;
    margin-top: 0;
    column-span: all;
}

.newsBox p {
    margin-top: 0;
    margin-bottom: .5em;
    /*Google fonts*/
    font-family: "Newsreader", serif;
}
/*End of aboutus.html section*/

/*Start of ContactUs.html*/
.contactInfo {
    display: flex;
    border: .3em double #ffa500;
    background-color: #003366;
    color: #ffffff;
    padding: 0% 2% 1% 2%;
    width: 75%;
    margin: auto;
    margin-top: 2.5%;
}

#contactImg {
    margin: auto;
    max-width: 60em;
    margin-top: 2em;
}
/*End of ContactUs.html*/

/* Start of Footer */
footer {
    border: .2em solid #ffa500;
    margin: auto;
    margin-top: 5%;
    color: #ffffff;
    padding: .5%;
    text-align: center;
    background: #003366;
    font-size: 1.2em;
}

footer a {
    margin: .4em;
    color: #ffa500;
}

.icons {
    margin-bottom: .5em;
    color: #ffa500;
    font-size: 25px;
    padding: 0em 1em;
}
/* End of Footer */



/* Media query section*/
@media only screen and (max-width: 610px) {

    /*1st media query*/
    #navigation ul {
        flex-direction: column;
    }

    #navigation ul li {
        float: left;
        width: 100%;
        margin: .2%;
    }

    .flexInfo {
        flex-direction: column;
    }

    footer {
        padding-bottom: 1%;
    }

    /*This is for the grid layout on the teamshop.html*/
    .contain {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "box1 box2"
            "box3 box4"
            "box5 box6"
            "box7 box8"
            "box9 box10";
    }
}



@media only screen and (max-width: 490px) {

    /*2nd media query*/
    article {
        column-count: 2;
        column-gap: 35px;
    }
}



@media only screen and (max-width: 365px) {

    /*3rd media query*/
    #imgBox img {
        min-width: 70%;
    }

    article {
        column-count: 1;
        column-gap: 35px;

    }

    #contactImg img{
        min-width: 70%;
    }

    .contain {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(1fr);
        grid-template-areas:
            "box1"
            "box2"
            "box3"
            "box4"
            "box5"
            "box6"
            "box7"
            "box8"
            "box9";
    }
}